*.iml
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
drishti-app/tmp/
classes/
tmp/
project.properties
.DS_Store
.settings
build/
.gradle
opensrp-tbr/fabric.properties
opensrp-tbr/reports/
opensrp-tbr/jacoco.exec
